<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BlaBla</title>
</head>

<body>


  <!-- <div> -->

  <div class="englobe">
    <div layout="row" layout-align="center center">
      <mat-form-field class="example-full-width input" appearance="fill">
        <mat-label>Title Task</mat-label>
        <input [(ngModel)]="newTask2" matInput placeholder="faire a manger">
      </mat-form-field>
      <button mat-raised-button matTooltip="By default, I delay"
        aria-label="Button that displays a tooltip that has custom delays through a default config">
        {{ erreur }}
      </button>

      <div class="example-button-row">
        <button (click)="create()" class="ajout" mat-button color="primary">Ajouter</button>
        <button (click)="deleteAll()" class="AllSupp" mat-button color="primary"> Tout Supprimer</button>
      </div>

    </div>
    <!-- <table layout-align="center center">
      <tr ng-repeat="x in names">
        <td> id</td>
        <td> Titre</td>
        <td>
          supprimer
        </td>
      </tr>
      <tr ng-repeat="x in names" *ngFor="let x of arr; let index = index;">
        <td class="xId"> {{ x.id }} </td>
        <td class="xTitle"> {{ x.title }} </td>
        <td class="xDelete">
          <button (click)="delete(index)" mat-fab color="primary" aria-label="Example icon button with a delete icon"
            class="droite">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>

    </table> -->


    <mat-grid-list cols="3" rowHeight="2:2">
      <mat-grid-tile>Id</mat-grid-tile>
      <mat-grid-tile>Titre</mat-grid-tile>
      <mat-grid-tile>
        Cheched
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="3" rowHeight="2:1" *ngFor="let x of arr; let index = index;" >
      <mat-grid-tile>{{ x.id }}</mat-grid-tile>
      <mat-grid-tile>{{ x.title }}</mat-grid-tile>
      <mat-grid-tile>
        <span class="example-list-section">
          <mat-checkbox [checked]="reussis" class="example-margin" [color]="check.color"
          (click)="Cheched(index)"
            >
          </mat-checkbox>
        </span>
      </mat-grid-tile>
    </mat-grid-list>


    <hr>
    <p class="description">Task fini</p>
    <hr>

    <mat-grid-list cols="3" rowHeight="2:2">
      <mat-grid-tile>Id</mat-grid-tile>
      <mat-grid-tile>Titre</mat-grid-tile>
      <mat-grid-tile>
        Supprimer
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="3" rowHeight="2:1" *ngFor=" let del = index; let x of arr | taskFilter: true">
      <mat-grid-tile>{{ x.id }} </mat-grid-tile>
      <mat-grid-tile>{{ x.title }}</mat-grid-tile>
      <mat-grid-tile> <button (click)="delete(del)" mat-fab color="primary"
          aria-label="Example icon button with a delete icon" class="droite">
          <mat-icon>delete</mat-icon>
        </button></mat-grid-tile>
    </mat-grid-list>

  </div>
  <!-- <table mat-table [dataSource]="arr" class="mat-elevation-z8">

        <ng-container>
          <th mat-header-cell *matHeaderCellDef> id </th>
          <td mat-cell *matCellDef="let element"> test</td>
        </ng-container>

    </table>
  </div>
  <div ng-app="myApp" ng-controller="customersCtrl">
  </div>
  -->


  <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"> -->

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    Name Column
    <ng-container matColumnDef="titles">
      <th mat-header-cell *matHeaderCellDef> titles </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container> -->

  <!-- Weight Column
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
  
    Symbol Column
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container> -->

  <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->




</body>

</html>